<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Custom Navbar</title>
  <link rel="stylesheet" href="nav-bar.component.css" />
</head>
<body>

<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil">QuizGame</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historique">Historique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parametres">Paramètres</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
